<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Мышематика Of the Day</title>

        <link rel="stylesheet" href="css/swiper.min.css">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div class="container">
            <div class="item" data-itemid={{ item.id }}>
                <h1>
                <a target="_blank" href="{{ item.url }}">Позанимаемся?</a>
                </h1>
                <p>{{ item.text | nl2br }}</p>
                {{photos}}
            </div>
        </div>

        <script src="bundle.js"></script>
    </body>
</html>